<div class="header">
  <img class="home-icon" [src]="home.icon" alt="home_icon" />
  <span class="toolBar-title" [routerLink]="home.router" (click)="handleSidebar(false)">
    {{home.title}}
  </span>

  <span class="example-spacer"></span>

  <div class="search-container">
    <span class="material-icons search-button">
      search
    </span>
    <input #searchInput placeholder="Search...">
  </div>

  <span class="material-icons account-button" [matMenuTriggerFor]="menu">
    face
  </span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let utilitiesMenu of utilitiesMenuList">
      <mat-icon>{{utilitiesMenu.icon}}</mat-icon>
      <span>{{utilitiesMenu.title}}</span>
    </button>
  </mat-menu>
</div>
<label #sidebarIconToggle class="sidebarIconToggle" (click)="handleSidebar()">
  <div class="hamburger diagonal part-1"></div>
  <div class="hamburger horizontal"></div>
  <div class="hamburger diagonal part-2"></div>
</label>
<div class="sidebar-menu" #sidebarMenu>
  <ul class="sidebar-menu-inner">
    <li *ngFor="let menu of menuList">
      <img class="menu-icon" [src]="menu.icon" alt="menu-icon" />
      <span class="menu-span" [routerLink]="menu.router" (click)="handleSidebar()">{{menu.title}}</span>
    </li>
  </ul>
</div>
<div class="main-container">

    <router-outlet></router-outlet>

</div>
