@import '../../assets/css/special-property.scss';

// mat-toolbar {
//     height: height(header);
// }

.toolBar-title {
    display    : flex;
    display    : -webkit-flex;
    margin-left: 10px;
    width      : auto;
    height     : 32px;
    font-size  : 28px;
    cursor     : pointer;
}

.home-icon {
    width : 48px;
    height: 48px;
}

.search-container {
    position       : fixed;
    right          : 40px;
    display        : flex;
    display        : -webkit-flex;
    justify-content: center;
    align-items    : center;
    margin-right   : 15px;
    width          : 250px;
    height         : 40px;
    order          : 1;

    @media screen and (max-width: rwdBoundary(small)) {
        position: unset;
        width   : calc(100% - 70px);
        order   : 2;
    }
}

.search-container input {
    width : 100%;
    height: 80%;

    background   : #fcfcfc;
    border       : 1px solid #aaa;
    border-radius: 5px;
    box-shadow   : 0 0 3px #ccc, 0 10px 15px #ebebeb inset;

    text-indent: 15px;
}

.search-button {
    position: absolute;
    right   : 10px;
    color   : gray;
    cursor  : pointer;
}

.account-button {
    position : fixed;
    right    : 10px;
    display  : flex;
    display  : -webkit-flex;
    font-size: 30px;
    cursor   : pointer;
    order    : 2;

    @media screen and (max-width: rwdBoundary(small)) {
        top  : 10px;
        order: 1;
    }

    img {
        width        : 30px;
        height       : 30px;
        border-radius: 50%;
    }
}

html,
body {
    overflow-x: hidden;
    height    : 100%;
}

body {
    background: #fff;
    padding   : 0;
    margin    : 0;
}

.header {
    display         : flex;
    display         : -webkit-flex;
    align-items     : center;
    margin          : 0 auto;
    padding-left    : 45px;
    width           : 100%;
    max-width       : 100%;
    box-shadow      : none;
    background-color: #FFFFFF;
    position        : fixed;
    height          : height(header) !important;
    overflow        : hidden;
    z-index         : zIndex(header);

    @media screen and (max-width: rwdBoundary(small)) {
        flex-wrap: wrap;
        height   : height(header_small) !important;
    }
}

.main-container {
    display    : block;
    margin     : 0 auto;
    padding-top: height(header);
    height     : 100%;

    @media screen and (max-width: rwdBoundary(small)) {
        padding-top: height(header_small);
    }
}

.sidebar-menu {
    height    : 100%;
    position  : fixed;
    left      : 0;
    width     : 250px;
    height    : height(layoutBasic);
    margin-top: height(header);
    transform : translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
    z-index   : zIndex(header);

    @media screen and (max-width: rwdBoundary(small)) {
        margin-top: height(header_small);
        height    : height(layoutBasic_small);
    }
}

.sidebar-menu-inner {
    margin    : 0;
    padding   : 0;
    max-height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    cursor    : pointer;

    .menu-icon {
        width : 30px;
        height: 30px;
    }

    .menu-span {
        margin-left: 10px;
        font-size  : 18px;
    }
}

.sidebar-menu-inner li {
    display       : flex;
    display       : -webkit-flex;
    align-items   : center;
    list-style    : none;
    padding       : 20px;
    color         : #fff;
    border-bottom : 1px solid rgba(255, 255, 255, 0.10);
    text-transform: uppercase;
    font-weight   : bold;
}

.open~.sidebar-menu {
    transform: translateX(0);
}

.sidebar-icon-toggle {
    position       : fixed;
    display        : flex;
    display        : -webkit-flex;
    flex-direction : column;
    justify-content: space-evenly;
    transition     : all 0.3s;
    width          : 100%;
    height         : 100%;
    top            : 22px;
    left           : 15px;
    width          : 22px;
    height         : 22px;
    cursor         : pointer;
    z-index        : zIndex(header);

    @media screen and (max-width: rwdBoundary(small)) {
        top: 34px;
    }
}

.hamburger {
    transition      : all 0.3s;
    position        : absolute;
    width           : 100%;
    height          : 3px;
    background-color: gray;
}

.horizontal {
    transition: all 0.3s;
    position  : relative;
}

.diagonal.part-1 {
    position  : relative;
    transition: all 0.3s;
}

.diagonal.part-2 {
    transition: all 0.3s;
    position  : relative;
}

.open>.horizontal {
    transition: all 0.3s;
    opacity   : 0;
}

.open>.diagonal.part-1 {
    transition: all 0.3s;
    transform : rotate(135deg);
    margin-top: 4px;
}

.open>.diagonal.part-2 {
    transition: all 0.3s;
    transform : rotate(-135deg);
    margin-top: -20px;
}