@import '../../../assets/css/special-property.scss';

.image-editor {
  position: relative;
  width   : 300px;
  height  : 300px;
  overflow: hidden;

  .background {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    background: #ffffff;
  }

  .image {
    position: absolute;
  }

  .image-mask {
    position: relative;
    width   : 100%;
    height  : 100%;
    overflow: hidden;

    &::after {
      content      : '';
      position     : absolute;
      border-radius: 50%;
      width        : 100%;
      height       : 100%;
      box-shadow   : 0px 0px 0px 2000px #999999;
      opacity      : 0.7;
    }
  }

  .reset {
    position        : absolute;
    right           : 0;
    bottom          : 0;
    background-color: white;
  }
}

.output-image-box {
  display: none;

  canvas {
    background-color: bisque;
  }
}

.select-image {
  margin-bottom   : 1px;
  background-color: #5ac1cc;
  user-select     : none;

  label {
    margin: 0;
    width : 100%;

    .button {
      padding   : 5px 0px;
      text-align: center;
      color     : #eeeeee;

      &:active {
        background-color: #b5def3;
        border-color    : #b5def3;
      }
    }

    input {
      // position: fixed;
      // top     : 100%;
      // left    : 100%;
      display: none;
    }
  }
}

$inputWidth: 180;

@function getProgress($inputWidth, $color) {
  $val: -10px 0 0 -6.5px $color;

  @for $i from 6 through $inputWidth {
    $val: #{$val},
    -#{$i}px 0 0 -6.5px #{$color}
  }

  @return $val
}

.control-box {
  text-align      : center;
  color           : #ffffff;
  background-color: #75818D;

  .slider-box {
    display      : flex;
    align-items  : center;
    height       : 40px;
    border-top   : #59626b 0.5px solid;
    border-bottom: #59626b 0.5px solid;

    .title {
      margin: 0 5px 0 5px;
      width : 30px;
    }

    input {
      margin       : 0 10px 0 10px;
      border-top   : #59626b 0.5px solid;
      border-bottom: #59626b 0.5px solid;
    }

    .value-box {
      display: inline-flex;
      margin : 0 5px 0 0;
      width  : 55px;
      cursor : default;

      .value {
        width     : 37px;
        text-align: right;
        cursor    : pointer;
      }

      .symbol {
        width: 17px;
      }
    }
  }

  input[type="range"] {
    appearance        : none;
    -webkit-appearance: none;
    outline           : none;
    overflow          : hidden;
    height            : 40px;
    width             : #{$inputWidth}px;
    background-color  : #75818D;
    cursor            : pointer;

    &::-webkit-slider-runnable-track {
      background: #ACB3BA;
      height    : 2px;
    }

    &::-webkit-slider-thumb {
      margin-top        : -6.5px;
      appearance        : none;
      -webkit-appearance: none;
      width             : 15px;
      height            : 15px;
      background        : #fff;
      box-shadow        : 2px 1px 2.5px 0 rgb(130, 130, 130), getProgress($inputWidth, #fff);
      border-radius     : 50%;
    }
  }
}

.default {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
  cursor: -webkit-grab;
}