@import '../../../assets/css/special-property.scss';

.image-editor {
  position   : relative;
  height     : 250px;
  // overflow: hidden;
  cursor     : grab;
  cursor     : -webkit-grab;

  .image {
    position: absolute;
    width   : 100%;
  }

  .image-filter {
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
  }
}

.output-image-box {
  // display: none;

  canvas {
    background-color: bisque;
  }
}

.select-image {
  margin-bottom   : 1px;
  background-color: #23d5ea;
  user-select     : none;

  label {
    margin: 0;
    width : 100%;

    .button {
      padding   : 5px 0px;
      text-align: center;
      color     : #eeeeee;
      cursor    : pointer;

      &:active {
        background-color: #b5def3;
        border-color    : #b5def3;
      }
    }

    input {
      // position: fixed;
      // top     : 100%;
      // left    : 100%;
      display: none;
    }
  }
}