<div>
  <div #imageEditor class="image-editor" (mousedown)="onDrag($event)" (touchstart)="onDragMobile($event)">
    <img #image class="image" alt="" (load)="imageOnload()" />
    <div class="image-mask"></div>
    <div class="reset" (click)="resetImage()">重設</div>
  </div>
  <div class="output-image-box">
    <canvas #canvas></canvas>
  </div>
  <div class="select-image">
    <label>
      <div class="button">
        <span aria-hidden="true"></span> 選取圖片
      </div>
      <input type="file" accept=".jpg,.png" (change)="selectImage($event)" />
    </label>
  </div>
</div>