<div>
  <div #imageEditor class="image-editor default" (mousedown)="onDrag($event)" (touchstart)="onDragMobile($event)">
    <div class="background"></div>
    <img #image id="image" class="image" alt="" (load)="imageOnload()" crossorigin="anonymous" />
    <div class="image-mask"></div>
    <div class="reset pointer" (click)="resetImage()">重設</div>
  </div>
  <div class="output-image-box">
    <canvas #canvas id="canvas"></canvas>
  </div>
  <div class="control-box">
    <div class="slider-box">
      <span class="title">縮放</span>
      <input type="range" #zoomSlider (change)="zoom(zoomSlider.value)" max="100" min="-100" step="1" value="0" />
      <div class="value-box">
        <span class="value" (click)="resetValue('zoom')">{{zoomValue}}</span>
        <span class="symbol">%</span>
      </div>
    </div>
    <div class="slider-box">
      <span class="title">旋轉</span>
      <input type="range" #rotateSlider (change)="rotate(rotateSlider.value)" max="180" min="-180" step="1" value="0" />
      <div class="value-box">
        <span class="value" (click)="resetValue('rotate')">{{rotateValue}}</span>
        <span class="symbol">&deg;</span>
      </div>
    </div>
    <div class="slider-box">
      <span class="title">透明</span>
      <input type="range" #opacitySlider (change)="opacity(opacitySlider.value)" max="1" min="0.1" step="0.05"
        value="1" />
      <div class="value-box">
        <span class="value" (click)="resetValue('opacity')">{{opacityValue}}</span>
      </div>
    </div>
  </div>
  <div class="select-image">
    <label>
      <div class="button pointer">
        <span aria-hidden="true"></span> 選取圖片
      </div>
      <input type="file" accept=".jpg,.png" (change)="selectImage($event)" />
    </label>
  </div>
</div>