<nav class="info-bar">{{infoMessage}}</nav>
<main class="main">
  <app-firework *ngIf="showLeftFirework" class="firework-left"></app-firework>
  <app-firework *ngIf="showRightFirework" class="firework-right"></app-firework>
  <section *ngIf="!gocha" class="box">
    <div class="pressBtn" (click)="recommendDrinks()">
      <span>PRESS</span>
    </div>
  </section>
  <section *ngIf="gocha && drink" class="card-section" [ngClass]="{'active': isFinished}">
    <div class="card-container">
      <div class="card-info">{{drink.name}}</div>
      <div class="card-image">
        <div class="left-control" (mousedown)="choose('left')" (mouseup)="unChoose()" (touchstart)="choose('left')"
          (touchend)="unChoose()">
        </div>
        <div class="right-control" (mousedown)="choose('right')" (mouseup)="unChoose()" (touchstart)="choose('right')"
          (touchend)="unChoose()"></div>
        <div class="image-background"></div>
        <img src="{{drink.image}}" class="image" />
      </div>
      <div *ngIf="isFinished" class="card-description">{{description}}</div>
      <!-- <div *ngIf="isFinished" class="button-box">
        <div class="check">
          <span class="material-icons" (click)="confirm()">check_circle_outline</span>
        </div>
        <div class="restart">
          <span class="material-icons" (click)="recommendDrinks()">replay</span>
        </div>
      </div> -->
    </div>
  </section>
</main>