<nav class="info-bar">{{infoMessage}}</nav>
<main class="container">
  <app-firework *ngIf="showLeftFirework" class="firework-left"></app-firework>
  <app-firework *ngIf="showRightFirework" class="firework-right"></app-firework>
  <section *ngIf="!gocha" class="box">
    <div class="pressBtn" (click)="recommendDrinks()">
      <span>PRESS</span>
    </div>
  </section>
  <section *ngIf="gocha && drink" class="card-box" [ngClass]="{'active': isFinished}">
    <img src="{{drink.image}}" class="image" />
    <span class="text">{{drink.name}}</span>
    <div *ngIf="isFinished" class="button-box">
      <div class="check">
        <span class="material-icons" (click)="confirm()">check_circle_outline</span>
      </div>
      <div class="restart">
        <span class="material-icons" (click)="recommendDrinks()">replay</span>
      </div>
    </div>
  </section>
</main>
