@import '../../../assets/css/common.scss';
@import '../../../assets/css/special-property.scss';

.messageContainer {
  position: fixed;
  right   : 5px;
  bottom  : 5px;
  @include transition(bottom 0.3s);
  z-index: zIndex(message);
}