<nav class="info-bar">{{infoMessage}}</nav>
<main>
  <article>
    <section *ngIf="error" class="error-box">{{errorMessage}}</section>
    <section *ngIf="!error&&verifyEmail">
      <!-- TODO: Success screen -->
    </section>
    <section *ngIf="!error&&resetPassword">
      <div class="box">
        您的信箱
        <span>{{email}}</span>
      </div>
      <div class="box">
        <div>
          <div class="title"><i class="material-icons">lock</i> 請輸入新密碼</div>
          <input #newPassword class="text" type="password" placeholder="password" (keydown.enter)="login()" />
        </div>
        <button class="button" (click)="confirm()">確 認</button>
      </div>
    </section>
  </article>
</main>
