@import '../../assets/css/special-property.scss';

.map {
    margin: auto;
    height: height(layoutBasic);
    width : 100%;

    @media screen and (max-width: rwdBoundary(small)) {
        height: height(layoutBasic_small);
    }
}