.content {
    display: flex;

    .button {
        width           : 200px;
        height          : 30px;
        font-weight     : 800;
        border-radius   : 10px;
        color           : white;
        background-color: saddlebrown;
    }
}