<!-- <main class="main-content">
  <div #mapContainer class="map"></div>
</main> -->
<main class="main-content overflow">
  <section class="landing-top-container">
    <div class="landing-top-box">
      <h1>為你隨機選擇附近的飲料店</h1>
      <button [routerLink]="routerLink">Get start</button>
    </div>
    <div class="cloud-box">
      <i-cloud></i-cloud>
    </div>
  </section>
  <section class="landing-bottom-container">
    <div class="description-box">
      <div class="info-box">
        <h2>歡迎使用波吧飲料地圖</h2>
        <p>在這裡不分種族、性別、膚色、語言、職業，人人都可以享用飲料帶來的愉悅感。</p>
      </div>
    </div>
    <div class="control-box">
      <div class="category-box">
        <div class="category-image">
          <img />
        </div>
        <div class="category-text">
          <span>今天飲料喝甚麼?</span>
        </div>
      </div>
      <div class="category-box">
        <div class="category-image">
          <img />
        </div>
        <div class="category-text">
          <span>今天飲料喝哪家?</span>
        </div>
      </div>
      <div class="category-box">
        <div class="category-image">
          <img />
        </div>
        <div class="category-text">
          <span>我的地圖</span>
        </div>
      </div>
    </div>
  </section>
</main>
