<app-dialog [componentKey]="componentKey">
  <div class="review-box">
    <div class="review-title">
      <div class="author-box" (click)="openUrl(data.author_url)">
        <img class="author-img" src="{{data.profile_photo_url}}" alt="author_img" />
        <span class="author-name" title="{{data.author_name}}">{{data.author_name}}</span>
      </div>
      <div class="rating-box">
        <span class="author-rating">{{data.rating}}</span>
        <app-rating-stars [rating]="data.rating" [width]="25" [height]="25" class="rating-stars">
        </app-rating-stars>
      </div>
    </div>
    <div>
      <span class="review-time" title="{{data.time * 1000 | date:'long'}}">{{data.time * 1000 | date:'long'}}</span>
    </div>
    <div class="review-text">
      {{data.text}}
    </div>
  </div>
</app-dialog>