<div #cardContainer class="card-container" *ngIf="!showChosenCard">
    <div class="button-box">
        <button mat-raised-button color="warn" (click)="handleTransformScenes('map')">返回</button>
        <button mat-raised-button class="draw-button" color="warn" (click)="handleDraw()">抽卡</button>
    </div>
    <ng-container *ngFor="let result of resultArray">
        <div class="card">
            <div class="card-image" [ngStyle]="{'background-image':'url(' + result.image_url + ')'}"></div>
            <div class="card-text">
                <h2>{{result.name}}</h2>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="stat-box">
                        <div class="value">{{result.rating}}</div>
                        <div class="type">rating</div>
                    </div>
                </div>
                <div class="stat">
                    <div class="stat-box">
                        <div class="value">{{result.ratings_total}}</div>
                        <div class="type">comments</div>
                    </div>
                </div>
                <div class="stat border">
                    <div class="stat-box">
                        <div class="value">{{result.views}}</div>
                        <div class="type">views</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="card-container" *ngIf="showChosenCard">
    <div class="button-box">
        <button mat-raised-button color="warn" (click)="handleTransformScenes('cards')">返回</button>
    </div>
    <div class="chosen-card">
        <div class="chosen-card-title">
            <span>恭喜! 今天飲料喝這家~</span>
        </div>
        <div class="chosen-card-image" [ngStyle]="{'background-image':'url(' + chosenShop.image_url + ')'}"></div>
        <div class="chosen-card-content">
            <ul>
                <li>店名: {{chosenShop.name}}</li>
                <li>評分: {{chosenShop.rating}}</li>
                <li>評價數: {{chosenShop.ratings_total}}</li>
                <li>觀看次數: {{chosenShop.views}}</li>
            </ul>
        </div>
    </div>
</div>
