<div class="overlay-container">
  <div class="overlay-background" (click)="closeDialog()"></div>
  <div class="login-wrapper">
    <div class="login-box">
      <input id="signin" type="radio" name="tab" checked="checked" />
      <input id="register" type="radio" name="tab" />
      <div class="pages">
        <div class="page">
          <div class="input">
            <div class="title"><i class="material-icons">email</i> EMAIL</div>
            <input #loginEmail class="text" type="email" placeholder="email" />
          </div>
          <div class="input">
            <div class="title"><i class="material-icons">lock</i> PASSWORD</div>
            <input #loginPassword class="text" type="password" placeholder="password" />
          </div>
          <div class="input">
            <input class="enter-btn" type="submit" value="ENTER" (click)="login()" />
          </div>
          <p class="divid-line">or</p>
          <div class="google-box input" (click)="signUpWithGoogle()">
            <img src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg"
              alt="Google login-in" />
            <span>Login with Google</span>
          </div>
        </div>
        <div class="page signup">
          <div class="input">
            <div class="title"><i class="material-icons">mail_outline</i> EMAIL</div>
            <input #signUpEmail class="text" type="email" placeholder="email" />
          </div>
          <div class="input">
            <div class="title"><i class="material-icons">lock_outline</i> PASSWORD</div>
            <input #signUpPassword class="text" type="password" placeholder="password" />
          </div>
          <div class="input">
            <input class="sign-up-btn" type="submit" value="SIGN ME UP!" (click)="signUp()" />
          </div>
          <div class="google-box input" (click)="signUpWithGoogle()">
            <img src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg"
              alt="Google login-in" />
            <span>SignUp with Google</span>
          </div>
        </div>
      </div>
      <div class="tabs">
        <label class="tab text" for="signin">Sign In</label>
        <label class="tab text" for="register">Register</label>
      </div>
    </div>
  </div>
</div>
