<div class="overlay-container">
  <div class="overlay-background" (click)="closeDialog()"></div>
  <div class="login-wrapper">
    <div class="login-box">
      <input id="signin" type="radio" name="tab" checked="checked" />
      <input id="register" type="radio" name="tab" />
      <div class="pages">
        <div class="page">
          <div class="input">
            <div class="title"><i class="material-icons">email</i> EMAIL</div>
            <input #loginEmail class="text" type="email" placeholder="email" />
          </div>
          <div class="input">
            <div class="title"><i class="material-icons">lock</i> PASSWORD</div>
            <input #loginPassword class="text" type="password" placeholder="password" />
          </div>
          <div class="input">
            <input class="enter-btn" type="submit" value="ENTER" (click)="login()" />
          </div>
          <p class="divid-line">or</p>
          <div class="third-login-box google input" (click)="signUpWithGoogle()">
            <img src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg"
              alt="Google login-in" />
            <span>Login with Google</span>
          </div>
          <div class="third-login-box facebook input" (click)="signUpWithFacebook()">
            <svg aria-hidden="true" class="facebook-icon" width="20" height="20" viewBox="0 0 18 18">
              <path
                d="M3 1a2 2 0 00-2 2v12c0 1.1.9 2 2 2h12a2 2 0 002-2V3a2 2 0 00-2-2H3zm6.55 16v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h-2.5z"
                fill="#ffffff"></path>
            </svg>
            <span>Login with Facebook</span>
          </div>
        </div>
        <div class="page signup">
          <div class="input">
            <div class="title"><i class="material-icons">mail_outline</i> EMAIL</div>
            <input #signUpEmail class="text" type="email" placeholder="email" />
          </div>
          <div class="input">
            <div class="title"><i class="material-icons">lock_outline</i> PASSWORD</div>
            <input #signUpPassword class="text" type="password" placeholder="password" />
          </div>
          <div class="input">
            <input class="sign-up-btn" type="submit" value="SIGN ME UP!" (click)="signUp()" />
          </div>
          <div class="third-login-box google input" (click)="signUpWithGoogle()">
            <img src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg"
              alt="Google login-in" />
            <span>Login with Google</span>
          </div>
          <div class="third-login-box facebook input" (click)="signUpWithFacebook()">
            <svg aria-hidden="true" class="facebook-icon" width="20" height="20" viewBox="0 0 18 18">
              <path
                d="M3 1a2 2 0 00-2 2v12c0 1.1.9 2 2 2h12a2 2 0 002-2V3a2 2 0 00-2-2H3zm6.55 16v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h-2.5z"
                fill="#ffffff"></path>
            </svg>
            <span>Login with Facebook</span>
          </div>
        </div>
      </div>
      <div class="tabs">
        <label class="tab text" for="signin">Sign In</label>
        <label class="tab text" for="register">Register</label>
      </div>
    </div>
  </div>
</div>