@import '../../assets/css/special-property.scss';
@import '../../assets/css//common.scss';

section {
  position: relative;

  .selection-container {
    @include display-flex();
    flex-direction: column;
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 300px;
    border-radius : 0 0 5px 5px;
    box-shadow    : 0 3px 25px 0 rgba(0, 0, 0, 0.3);
    overflow      : hidden;
    z-index       : 1;

    @media screen and (max-width: rwdBoundary(small)) {
      flex-direction: row;
      position      : initial;
      width         : 100%;
    }

    .title {
      padding   : 10px;
      font-size : 20px;
      color     : #fff;
      background: #CC3333;

      @media screen and (max-width: rwdBoundary(small)) {
        display: none;
      }

      span {
        height: 100%;
      }

      .minimize {
        position: absolute;
        right   : 10px;
        width   : 24px;
        height  : 24px;
        cursor  : pointer;

        .minimize-icon::before {
          content : "";
          position: absolute;
          top     : 10px;
          width   : 20px;
          border  : 2px #eee solid;
        }
      }
    }

    .content {
      @include display-flex();
      flex-direction: column;
      width         : 100%;
      height        : 120px;
      @include transform(translateY(0));
      @include transition(all 250ms linear);
      z-index: -1;

      @media screen and (max-width: rwdBoundary(small)) {
        flex-direction: row;
        height        : 40px !important;
        @include transform(translateY(0) !important);
        z-index: initial;
      }

      .selection-box {
        @include display-flex();
        justify-content: flex-start;
        align-items    : center;
        padding-left   : 10px;
        width          : 100%;
        height         : 40px;
        background     : #fff;
        font-size      : 18px;

        @media screen and (max-width: rwdBoundary(small)) {
          justify-content: center;
          padding        : 0;
          width          : 33.3%;
          font-size      : 14px;
        }

        &:nth-child(1) {
          .icon {
            background: #FD7567;
          }
        }

        &:nth-child(2) {
          .icon {
            background: #6B94FF;
          }
        }

        &:nth-child(3) {
          .icon {
            background: #FDF569;
          }
        }

        .checkbox {
          margin: 3px 5px 3px 10px;
          width : 20px;
          height: 20px;

          @media screen and (max-width: rwdBoundary(small)) {
            margin: 3px 5px 3px 3px;
          }
        }

        .icon {
          display      : inline-block;
          margin-left  : 5px;
          width        : 15px;
          height       : 15px;
          border-radius: 50%;
        }

        .text {
          padding-left : 5px;
          white-space  : nowrap;
          text-overflow: ellipsis;
          overflow     : hidden;

          @media screen and (max-width: rwdBoundary(small)) {
            padding: 0;
          }
        }
      }
    }

    .close-content {
      @include transform(translateY(-120px));
      height: 0;
    }
  }

  .close-container {
    box-shadow: none;
  }

  #map {
    margin: auto;
    height: height(layout);
    width : 100%;

    @media screen and (max-width: rwdBoundary(small)) {
      height: height(layout_myMap_small);
    }
  }
}