@import '../../../assets/css/common.scss';
@import '../../../assets/css/special-property.scss';

.ripple-box {
  position: absolute;
  z-index : zIndex(loading);
}

.tour-box {
  position      : absolute;
  padding       : 15px;
  width         : 260px;
  background    : #fff;
  box-shadow    : 5px 5px 15px 6px rgba(0, 0, 0, 0.2);
  overflow      : hidden;
  pointer-events: initial;
  z-index       : zIndex(dialogWindow);

  .close-btn {
    position: absolute;
    top     : 10px;
    right   : 10px;
    cursor  : pointer;
  }

  .title {
    margin     : 13px 0;
    width      : 100%;
    height     : 24px;
    font-size  : 20px;
    font-weight: bold;
  }

  .content {
    margin    : 10px 0;
    width     : 100%;
    max-height: 54px;
  }

  .button-box {
    @include display-flex();

    div {
      @include display-flex();
      justify-content: center;
      width          : 50%;
    }

    button {
      @include display-flex();
      justify-content: center;
      align-items    : center;
      margin         : 5px;
      width          : 75px;
      height         : 30px;
      border         : 0;
      border-radius  : 7px;
      font-size      : 16px;
      cursor         : pointer;
    }

    .back {
      color     : #0070f3;
      background: #fff;

      &:hover {
        color     : rgb(0, 112, 243);
        background: rgba(0, 118, 255, 0.1);
      }

      span {
        margin-right: 2px;
        font-size   : 16px;
      }
    }

    .next,
    .finish {
      color     : #fff;
      color     : white;
      background: #0070f3;
      box-shadow: rgba(0, 118, 255, 0.39) 0px 4px 7px;

      &:hover {
        background: rgba(0, 118, 255, 0.9);
        box-shadow: rgba(0, 118, 255, 0.23) 0px 6px 10px;
      }

      span {
        margin-left: 2px;
        font-size  : 16px;
      }
    }
  }
}