@import '../../../assets/css/common.scss';
@import '../../../assets/css/special-property.scss';

.ripple-box {
  position: absolute;
  z-index : zIndex(loading);
}

.tour-box {
  position  : absolute;
  padding   : 10px;
  background: #fff;
  box-shadow: 5px 5px 15px 6px rgba(0, 0, 0, 0.2);
  z-index   : zIndex(loading);

  .title {
    margin     : 10px 0;
    font-size  : 20px;
    font-weight: bold;
  }

  .content {
    margin: 10px 0;
  }

  .button-box {
    @include display-flex();
    justify-content: center;

    div {
      width: 50%;
    }

    button {
      margin: 5px;
      width : 50px;
      height: 30px;
      border: 0;
      cursor: pointer;
    }

    .back {}

    .next {
      color     : #fff;
      background: #2179c0;
    }
  }
}