<app-dialog [componentKey]="componentKey">
  <div class="settings-box">
    <app-image-editor #imageEditor (imageOnloaded)="imageOnload($event)"></app-image-editor>
    <span #uploadInput class="upload-btn not-allowed" (click)="upload()">確認上傳</span>
    <div class="text-box">
      <div class="title"><i class="material-icons">account_box</i> 暱稱</div>
      <input class="input" type="text" placeholder="name" [(ngModel)]="name" />
    </div>
    <div class="change-password">
      <p *ngIf="!thirdParty" class="pointer" (click)="reAuth()">更換密碼</p>
      <p class="pointer" (click)="resendEmail()">重新寄送驗證信</p>
    </div>
    <span class="confirm-btn pointer" (click)="confirm()">確認</span>
  </div>
</app-dialog>
