@import '../../assets/css/common.scss';
@import '../../assets/css/special-property.scss';

.settings-box {
  @include display-flex();
  @include flex-direction(column);
  min-height: 300px;
  max-width : 310px;
  max-height: 95%;
  @include linear-gradient(to left, #9cc5ff, #92eefa);
  border-radius : 2px;
  box-shadow    : 0px 2px 3px rgba(0, 0, 0, 0.2);
  overflow-x    : hidden;
  overflow-y    : auto;
  pointer-events: initial;
  animation     : popupWindow 0.5s;
  z-index       : zIndex(dialogWindow);

  .text-box {
    margin: 5px 10px;

    .title {
      margin     : 5px 0;
      position   : relative;
      line-height: 14px;

      i {
        vertical-align: text-bottom;
        font-size     : 19px;
      }
    }

    .input {
      background   : #F6F7F9;
      border       : none;
      border-radius: 4px;
      width        : calc(100% - 20px);
      height       : 40px;
      line-height  : 40px;
      padding      : 0px 10px;
      color        : rgba(0, 0, 0, 0.5);
      outline      : none;
    }
  }

  .upload-btn {
    background: #3b9cf6;

    &:hover {
      background: #65b3fc;
    }
  }

  .confirm-btn {
    background: #3A3B3C;

    &:hover {
      background: #6b6d6e;
    }
  }

  .change-password {
    margin    : 10px 15px;
    text-align: right;

    p {
      margin: 5px 0;
      color : #fff;
    }
  }

  span {
    margin       : 5px 0;
    padding      : 10px 0;
    align-self   : center;
    text-align   : center;
    width        : 100px;
    color        : #ffffff;
    border-radius: 5px;
    @include transition(all 0.5s ease 0s);

    &:hover {
      @include transition(all 0.5s ease 0s);
    }
  }
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}