<div class="overlay-container">
  <div class="overlay-background" (click)="closeDialog()"></div>
  <div class="settings-wrapper">
    <div class="settings-box">
      <app-image-editor (image)="loadImage($event)"></app-image-editor>
      <input type="submit" value="確認上傳" (click)="submit()" />
      <div>暱稱</div>
      <input type="text" [(ngModel)]="name" />
      <div>電話</div>
      <input type="text" [(ngModel)]="phoneNumber" />
      <input type="submit" value="確認" (click)="confirm()" />
    </div>
  </div>
</div>
