@import '../../../assets/css/special-property.scss';

#map {
  margin: auto;
  height: height(layout);
  width : 100%;

  @media screen and (max-width: rwdBoundary(middle)) {
    height: height(layout_small);
  }
}