<div class="image-container" [ngStyle]="containerStyles()">
  <div class="left-arrow" (click)="changePreImage()">
    <img src="../../../../assets/img/leftBtn.png" />
  </div>
  <div #preImage *ngIf="showPreImg" class="image"></div>
  <div #nowImage *ngIf="showNowImg" class="image"></div>
  <div #subImage *ngIf="showSubImg" class="image"></div>
  <div class="right-arrow" (click)="changeSubImage()">
    <img src="../../../../assets/img/rightBtn.png" />
  </div>
  <div class="dot-box">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot active"></div>
  </div>
</div>