<div #imageContainer class="image-container" [ngStyle]="containerStyles()">
  <div class="left-arrow" (click)="changeImage(nowImageIndex - 1)">
    <img src="../../../../assets/img/leftBtn.png" />
  </div>
  <div #image class="image animation"></div>
  <div class="right-arrow" (click)="changeImage(nowImageIndex + 1)">
    <img src="../../../../assets/img/rightBtn.png" />
  </div>
  <div #dotBox class="dot-box">
    <div *ngFor="let image of images; let i = index;">
      <div class="dot" (click)="changeImage(i)"></div>
    </div>
  </div>
</div>
