<div #imageContainer class="image-container">
  <div class="material-icons link" title="開啟外部連結" (click)="openLink()">link</div>
  <div class="left-arrow-box" (click)="changeImage(nowImageIndex - 1)">
    <div class="left-arrow"></div>
  </div>
  <div #image class="image animation"></div>
  <div class="right-arrow-box" (click)="changeImage(nowImageIndex + 1)">
    <div class="right-arrow"></div>
  </div>
  <div #dotBox class="dot-box">
    <div *ngFor="let image of images; let i = index;">
      <div class="dot" (click)="changeImage(i)"></div>
    </div>
  </div>
</div>
