@import '../../../assets/css/common.scss';

.image-container {
  position: relative;
  width   : 100%;
  height  : 100%;
  overflow: hidden;

  &:hover {
    .link {
      opacity: 0.8;
    }

    .left-arrow-box>.left-arrow {
      opacity: 1;
      @include animation(left-arrow-in 0.7s ease-in-out);
    }

    .right-arrow-box>.right-arrow {
      opacity  : 1;
      animation: right-arrow-in 0.7s ease-in-out;
    }

    .dot-box {
      opacity: 1;
      @include animation(dot-box-in 0.5s ease-in-out);
    }
  }

  .link {
    position: absolute;
    top     : 5px;
    right   : 5px;
    color   : #fff;
    opacity : 0;
    z-index : 2;
    cursor  : pointer;
  }

  .left-arrow-box {
    @include display-flex();
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    width   : 20%;
    height  : 100%;
    z-index : 1;
    cursor  : pointer;

    .left-arrow {
      position   : absolute;
      top        : calc(50% - 23px);
      left       : 45px;
      width      : 25px;
      height     : 25px;
      border-top : 3px solid #fff;
      border-left: 3px solid #fff;
      opacity    : 0;
      @include animation(left-arrow-out 0.5s ease-in-out);
      @include transform(translateX(-30px) rotate(-45deg));
    }
  }

  .image {
    width              : 100%;
    height             : 100%;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
  }

  .right-arrow-box {
    @include display-flex();
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    width   : 20%;
    height  : 100%;
    z-index : 1;
    cursor  : pointer;

    .right-arrow {
      position    : absolute;
      top         : calc(50% - 23px);
      right       : 45px;
      width       : 25px;
      height      : 25px;
      border-top  : 3px solid #fff;
      border-right: 3px solid #fff;
      opacity     : 0;
      @include animation(right-arrow-out 0.5s ease-in-out);
      @include transform(translateX(30px) rotate(45deg));
    }
  }

  .dot-box {
    @include display-inline-flex();
    position       : absolute;
    left           : 50%;
    list-style-type: none;
    opacity        : 0;
    @include animation(dot-box-out 0.5s ease-in-out);
    @include transform(translate(-50%, -30px));

    .dot {
      position     : relative;
      display      : inline-block;
      margin       : 3px;
      width        : 10px;
      height       : 10px;
      border-radius: 50%;
      border       : 2px solid #fff;
      cursor       : pointer;

      &:hover::after {
        opacity: 1;
        @include transform(translate(-50%, -50%) scale(1, 1));
      }

      &::after {
        content         : '';
        position        : absolute;
        top             : calc(50% - 0.05px);
        left            : calc(50% - 0.05px);
        width           : 75%;
        height          : 75%;
        border-radius   : 50%;
        background-color: #fff;
        opacity         : 0;
        @include transform(translate(-50%, -50%) scale(0, 0));
        @include transition(0.3s);
      }
    }

    .active {
      &::after {
        opacity: 1;
        @include transform(translate(-50%, -50%) scale(1, 1));
      }
    }
  }
}

@include keyframes(left-arrow-in) {
  from {
    opacity: 0;
    @include transform(translateX(0) rotate(-45deg));
  }

  to {
    opacity: 1;
    @include transform(translateX(-30px) rotate(-45deg));
  }
}

@include keyframes(left-arrow-out) {
  from {
    opacity: 1;
    @include transform(translateX(-30px) rotate(-45deg));
  }

  to {
    opacity: 0;
    @include transform(translateX(-15px) rotate(-45deg));
  }
}

@include keyframes(right-arrow-in) {
  from {
    opacity: 0;
    @include transform(translateX(0) rotate(45deg));
  }

  to {
    opacity: 1;
    @include transform(translateX(30px) rotate(45deg));
  }
}

@include keyframes(right-arrow-out) {
  from {
    opacity: 1;
    @include transform(translateX(30px) rotate(45deg));
  }

  to {
    opacity: 0;
    @include transform(translateX(15px) rotate(45deg));
  }
}

@include keyframes(dot-box-in) {
  from {
    opacity: 0;
    @include transform(translate(-50%, 0));
  }

  to {
    opacity: 1;
    @include transform(translate(-50%, -30px));
  }
}

@include keyframes(dot-box-out) {
  from {
    opacity: 1;
    @include transform(translate(-50%, -30px));
  }

  to {
    opacity: 0;
    @include transform(translate(-50%, -20px));
  }
}

.no-data {
  width              : 100%;
  height             : 100%;
  background-color   : #fff;
  background-image   : url("../../../../assets/icons/no-data.png");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : contain;
  overflow           : hidden;
}