@import '../../../../assets/css/common.scss';
@import '../../../../assets/css/special-property.scss';

.chosen-card {
  @include display-grid();
  align-items          : center;
  justify-content      : center;
  grid-template-columns: 350px 450px;
  grid-template-rows   : 40px calc(100% - 40px);
  grid-template-areas  :
    "title title"
    "image content";
  margin: 60px 0;
  width : 100%;
  height: 80%;
  cursor: default;

  @media screen and (max-width: rwdBoundary(middle)) {
    grid-template-columns: 40vw 50vw;
  }

  @media screen and (max-width: rwdBoundary(small)) {
    grid-template-columns: 90vw;
    grid-template-rows   : 40px 250px 600px;
    grid-template-areas  :
      "title"
      "image"
      "content";
  }

  .chosen-card-title {
    @include display-flex();
    grid-area              : title;
    justify-content        : center;
    align-items            : center;
    justify-content        : center;
    position               : relative;
    height                 : 100%;
    background-color       : color(themeOfBlue);
    color                  : black;
    font-size              : 24px;
    font-weight            : 600;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;

    .info-box {
      position: absolute;
      right   : 5px;
      color   : tomato;
    }

    .info-box-mobile {
      position : absolute;
      right    : 0;
      width    : 24px;
      height   : 24px;
      font-size: 18px;

      .dots {
        color : azure;
        cursor: pointer;
      }

      .drop-down {
        position     : absolute;
        right        : 5px;
        padding      : 5px;
        width        : 180px;
        background   : #ffffff;
        border-radius: 5px;
        z-index      : 5;

        section {
          margin: 5px 0;

          .unfavorite {
            color: tomato;
          }

          .favorite {
            color: darkred;
          }

          .add_location_alt {
            color: wheat;
          }

          .wrong_location {
            color: tomato;
          }
        }
      }
    }

    .center {
      @include display-flex();
      align-items: center;
      cursor     : pointer;

      div {
        @include display-flex();
        width: 100%;
      }
    }

    .info-text {
      margin-left: 3px;
    }

    .favorite:hover {
      color : darkred;
      cursor: pointer;
    }

    .unfavorite:hover {
      cursor: pointer;
    }

    .visited-box {
      @include display-flex();
      color : #d62e1f;
      cursor: pointer;

      .not_listed_location {
        display: none;
      }

      .add_location_alt {
        display: none;
      }

      .wrong_location {
        display: inline-block;
      }
    }

    .never-been-box {
      @include display-flex();
      color : #d62e1f;
      cursor: pointer;

      .not_listed_location {
        display: inline-block;
        color  : wheat;
      }

      .add_location_alt {
        display: none;
      }

      .wrong_location {
        display: none;
      }
    }

    .never-been-box:hover>.add_location_alt {
      display: inline-block;
    }

    .never-been-box:hover>.not_listed_location {
      display: none;
    }

    .never-been-box:hover>.wrong_location {
      display: none;
    }

    .visited-box:hover>.add_location_alt {
      display: none;
    }

    .visited-box:hover>.not_listed_location {
      display: none;
    }

    .visited-box:hover>.wrong_location {
      color  : darkred;
      display: inline-block;
    }

    .google-maps-icon {
      width : 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  .chosen-card-image {
    grid-area                : image;
    display                  : inline-block;
    background-position      : center;
    background-repeat        : no-repeat;
    background-size          : cover;
    height                   : 100%;
    border-bottom-left-radius: 5px;

    @media screen and (max-width: rwdBoundary(small)) {
      border-bottom-left-radius: 0;
    }
  }

  .chosen-card-content {
    grid-area                 : content;
    height                    : 100%;
    background-color          : white;
    text-align                : left;
    color                     : color(themeOfPink);
    font-size                 : 20px;
    border-bottom-right-radius: 5px;

    .content-box {
      @include display-flex();
      @include flex-direction(column);
      margin-left: 20px;
      height     : 100%;

      .data-box {
        padding-top: 20px;

        .website {
          overflow-wrap: break-word;

          a {
            color: color(themeOfPink);
          }
        }

        .price {
          vertical-align: middle;
        }
      }

      .list {
        display      : block;
        margin       : 3px 0;
        height       : 23px;
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
      }

      .list::before {
        content       : '';
        display       : inline-block;
        margin-right  : 10px;
        vertical-align: middle;
        width         : 5px;
        height        : 5px;
        background    : color(themeOfPink);
        border-radius : 50%;
      }

      .reviews {
        position: relative;

        &::after {
          content   : "";
          position  : absolute;
          width     : 100%;
          height    : 20px;
          background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 80%);
          background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(80%, rgba(255, 255, 255, 0)));
          z-index   : 1;
        }
      }

      .reviews-container {
        padding-bottom: 20px;
        height        : calc(100% - 29px);
        overflow-y    : auto;

        .review-box {
          margin     : 0 0 5px 15px;
          white-space: initial;

          @media screen and (max-width: rwdBoundary(small)) {
            position: relative;
          }

          .review-title {
            @include display-flex();
            @include flex-wrap(wrap);
            align-items: center;
            margin     : 5px 5px 5px 0;

            .author-box {
              @include display-flex();
              align-items: center;
              width      : calc(100% - 95px - 90px); // Minus rating-box & time-box
              cursor     : pointer;

              @media screen and (max-width: rwdBoundary(middle)) {
                width: calc(100% - 100px); // Minus rating-box
              }

              @media screen and (max-width: rwdBoundary(small)) {
                width: 100%;
              }

              .author-img {
                width : 40px;
                height: 40px;
              }

              .author-name {
                margin-left  : 10px;
                width        : 7rem;
                overflow     : hidden;
                white-space  : nowrap;
                text-overflow: ellipsis;
              }
            }

            .rating-box {
              @include display-flex();
              align-items: center;
              margin-left: 5px;
              width      : 90px;

              @media screen and (max-width: rwdBoundary(small)) {
                margin: 5px 0 0 0;
                width : auto;
                height: 25px;
              }

              .author-rating {
                width    : 10px;
                font-size: 1.25rem;

                @media screen and (max-width: rwdBoundary(small)) {
                  font-size: 1rem;
                }
              }

              .rating-stars {
                margin-left: 5px;
                width      : 75px;
              }
            }

            .review-time {
              margin   : 5px 0 0 5px;
              width    : 85px;
              height   : 25px;
              color    : darkgray;
              font-size: 1rem;

              @media screen and (max-width: rwdBoundary(middle)) {
                margin: 5px 0 0 0;
              }

              @media screen and (max-width: rwdBoundary(small)) {
                position: absolute;
                right   : 5px;
                top     : 42.5px;
              }
            }
          }

          .text-box {
            display           : -webkit-box;
            display           : -moz-box;
            margin            : 5px 0;
            -webkit-box-orient: vertical;
            -moz-box-orient   : vertical;
            line-clamp        : 3;
            -webkit-line-clamp: 3;
            white-space       : pre-line;
            text-overflow     : ellipsis;
            overflow          : hidden;
            cursor            : pointer;
          }
        }
      }
    }
  }
}