<div class="chosen-card">
  <div class="chosen-card-title">
    <span>恭喜! 今天飲料喝這家~</span>
    <div *ngIf="chosenShopDetail.place_id && !isMobile" class="info-box">
      <span *ngIf="!checkLocalStorage(chosenShopDetail.place_id, 'favorite')" class="material-icons unfavorite"
        title="收藏這家!" (click)="favoritetShop(chosenShopDetail.place_id)">
        favorite_border
      </span>
      <span *ngIf="checkLocalStorage(chosenShopDetail.place_id, 'favorite')" class="material-icons favorite"
        title="取消收藏" (click)="unFavoriteShop(chosenShopDetail.place_id)">
        favorite
      </span>
      <div
        [ngClass]="{'have-been-box': checkLocalStorage(chosenShopDetail.place_id, 'haveBeen'), 'never-been-box': !checkLocalStorage(chosenShopDetail.place_id, 'haveBeen')}">
        <span class="material-icons not_listed_location">
          not_listed_location
        </span>
        <span class="material-icons add_location_alt" (click)="haveBeen(chosenShopDetail.place_id)">
          add_location_alt
        </span>
        <span class="material-icons wrong_location" (click)="neverBeen(chosenShopDetail.place_id)">
          wrong_location
        </span>
      </div>
      <img class="google-maps-icon" src="https://developers.google.com/maps/images/maps-icon.svg"
        (click)="openUrl(chosenShopDetail.url)" title="開啟Google maps" alt="maps-icon" />
    </div>
    <!-- <div *ngIf="chosenShopDetail.place_id && isMobile" (click)="openDropDown()" class="info-box-mobile">
      <svg width="25" height="25">
        <path
          d="M5 12.5c0 .55.2 1.02.59 1.41.39.4.86.59 1.41.59.55 0 1.02-.2 1.41-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.59-1.41A1.93 1.93 0 0 0 7 10.5c-.55 0-1.02.2-1.41.59-.4.39-.59.86-.59 1.41zm5.62 0c0 .55.2 1.02.58 1.41.4.4.87.59 1.42.59.55 0 1.02-.2 1.41-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.59-1.41a1.93 1.93 0 0 0-1.41-.59c-.55 0-1.03.2-1.42.59-.39.39-.58.86-.58 1.41zm5.6 0c0 .55.2 1.02.58 1.41.4.4.87.59 1.43.59.56 0 1.03-.2 1.42-.59.39-.39.58-.86.58-1.41 0-.55-.2-1.02-.58-1.41a1.93 1.93 0 0 0-1.42-.59c-.56 0-1.04.2-1.43.59-.39.39-.58.86-.58 1.41z"
          fill-rule="evenodd"></path>
      </svg>
      <div *ngIf="showDropDown" class="drop-down">
        <div>
          <ng-container *ngIf="!checkLocalStorage(chosenShopDetail.place_id, 'favorite')">
            <span class="material-icons unfavorite" (click)="favoritetShop(chosenShopDetail.place_id)">
              favorite_border
            </span>
            <span>收藏這家!</span>
          </ng-container>
          <ng-container *ngIf="checkLocalStorage(chosenShopDetail.place_id, 'favorite')">
            <span class="material-icons favorite" (click)="unFavoriteShop(chosenShopDetail.place_id)">
              favorite
            </span>
            <span>取消收藏</span>
          </ng-container>
        </div>
        <div>
          <div
            [ngClass]="{'have-been-box': checkLocalStorage(chosenShopDetail.place_id, 'haveBeen'), 'never-been-box': !checkLocalStorage(chosenShopDetail.place_id, 'haveBeen')}">
            <span class="material-icons not_listed_location">
              not_listed_location
            </span>
            <span class="material-icons add_location_alt" (click)="haveBeen(chosenShopDetail.place_id)">
              add_location_alt
            </span>
            <span class="material-icons wrong_location" (click)="neverBeen(chosenShopDetail.place_id)">
              wrong_location
            </span>
          </div>
          <span>AAA</span>
        </div>
        <div>
          <img class="google-maps-icon" src="https://developers.google.com/maps/images/maps-icon.svg"
            (click)="openUrl(chosenShopDetail.url)" alt="maps-icon" />
          <span>開啟Google maps</span>
        </div>
      </div>
    </div> -->
  </div>
  <app-image-slider class="chosen-card-image" [images]="images" [links]="links" [customizeStyles]="imageSliderStyles">
  </app-image-slider>
  <div class="chosen-card-content">
    <div class="content-box">
      <div class="wtf">
        <div title="{{chosenShop.name}}" class="list">店名: {{chosenShop.name}}</div>
        <div class="list">評分: {{chosenShop.rating}}</div>
        <div class="list">評價數: {{chosenShop.ratings_total}}</div>
        <div class="list">觀看次數: {{chosenShop.views}}</div>
        <div *ngIf="chosenShopDetail.formatted_address" title="{{chosenShopDetail.formatted_address}}" class="list">
          <span>地址: </span>
          <span>{{chosenShopDetail.formatted_address}}</span>
        </div>
        <div *ngIf="chosenShopDetail.formatted_phone_number" class="list">
          <span>電話: </span>
          <span>{{chosenShopDetail.formatted_phone_number}}</span>
        </div>
        <div *ngIf="chosenShopDetail.website" class="website list">
          <span>網站: </span>
          <span>
            <a title="{{chosenShopDetail.website}}" href="{{chosenShopDetail.website}}"
              target="_blank">{{chosenShopDetail.website}}</a>
          </span>
        </div>
        <div *ngIf="chosenShopDetail.price_level" class="list">價位:
          <ng-container *ngFor="let i of [].constructor(chosenShopDetail.price_level)" class="price">
            <i-price [size]="22" [color]="'#aaaaaa'" [opacity]="0.8"></i-price>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="chosenShopDetail.reviews">
        <div>
          <span class="list">評論: </span>
        </div>
        <div class="reviews-container">
          <div *ngFor="let review of chosenShopDetail.reviews; let i = index;" class="review-box">
            <div class="review-title">
              <div class="author-box" (click)="openUrl(review.author_url)">
                <img class="author-img" src="{{review.profile_photo_url}}" alt="author_img" />
                <span class="author-name" title="{{review.author_name}}">{{review.author_name}}</span>
              </div>
              <div class="rating-box">
                <span class="author-rating">{{review.rating}}</span>
                <app-rating-stars class="rating-stars" [rating]="review.rating"></app-rating-stars>
              </div>
              <span class="review-time"
                title="{{review.time * 1000 | date:'long'}}">{{review.time * 1000 | date:'yyyy/MM/dd'}}</span>
            </div>
            <div class="text-box" (click)="openDialog(i)">{{review.text}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
