<div class="chosen-card">
  <div class="chosen-card-title">
    <span>恭喜! 今天飲料喝這家~</span>
    <div *ngIf="chosenShopDetail.place_id && (!isMobile && !smallScreen)" class="info-box center">
      <span *ngIf="!checkLocalStorage(chosenShopDetail.place_id, 'favorite')" class="material-icons unfavorite"
        title="收藏這家!" (click)="favoritetShop(chosenShopDetail.place_id)">
        favorite_border
      </span>
      <span *ngIf="checkLocalStorage(chosenShopDetail.place_id, 'favorite')" class="material-icons favorite"
        title="取消收藏" (click)="unFavoriteShop(chosenShopDetail.place_id)">
        favorite
      </span>
      <div
        [ngClass]="{'visited-box': checkLocalStorage(chosenShopDetail.place_id, 'visited'), 'never-been-box': !checkLocalStorage(chosenShopDetail.place_id, 'visited')}">
        <span class="material-icons not_listed_location">
          not_listed_location
        </span>
        <span class="material-icons add_location_alt" (click)="visited(chosenShopDetail.place_id)">
          add_location_alt
        </span>
        <span class="material-icons wrong_location" (click)="unVisited(chosenShopDetail.place_id)">
          wrong_location
        </span>
      </div>
      <img class="google-maps-icon" src="https://developers.google.com/maps/images/maps-icon.svg"
        (click)="openUrl(chosenShopDetail.url)" title="開啟Google maps" alt="maps_icon" />
    </div>
    <div *ngIf="chosenShopDetail.place_id && (isMobile || smallScreen)" #dots (mousedown)="openDropDown($event)"
      class="info-box-mobile">
      <span class="material-icons dots">more_vert</span>
      <div *ngIf="showDropDown" #dropdown class="drop-down">
        <section class="center">
          <div *ngIf="!checkLocalStorage(chosenShopDetail.place_id, 'favorite')"
            (click)="favoritetShop(chosenShopDetail.place_id)">
            <span class="material-icons unfavorite">
              favorite_border
            </span>
            <span class="info-text">收藏這家!</span>
          </div>
          <div *ngIf="checkLocalStorage(chosenShopDetail.place_id, 'favorite')"
            (click)="unFavoriteShop(chosenShopDetail.place_id)">
            <span class="material-icons favorite">
              favorite
            </span>
            <span class="info-text">取消收藏</span>
          </div>
        </section>
        <section class="center">
          <div *ngIf="!checkLocalStorage(chosenShopDetail.place_id, 'visited')"
            (click)="visited(chosenShopDetail.place_id)">
            <span class="material-icons add_location_alt">
              add_location_alt
            </span>
            <span class="info-text">未造訪過</span>
          </div>
          <div *ngIf="checkLocalStorage(chosenShopDetail.place_id, 'visited')"
            (click)="unVisited(chosenShopDetail.place_id)">
            <span class="material-icons wrong_location">
              wrong_location
            </span>
            <span class="info-text">曾造訪過</span>
          </div>
        </section>
        <section class="center">
          <div (click)="openUrl(chosenShopDetail.url)">
            <img class="google-maps-icon" src="https://developers.google.com/maps/images/maps-icon.svg"
              alt="maps-icon" />
            <span class="info-text">開啟Google maps</span>
          </div>
        </section>
      </div>
    </div>
  </div>
  <app-image-slider class="chosen-card-image" [images]="images" [links]="links" [customizeStyles]="imageSliderStyles">
  </app-image-slider>
  <div class="chosen-card-content">
    <div class="content-box">
      <div class="wtf">
        <div title="{{chosenShop.name}}" class="list">店名: {{chosenShop.name}}</div>
        <div class="list">評分: {{ratingText}}</div>
        <div class="list">評價數: {{chosenShop.ratings_total}}</div>
        <div class="list">觀看次數: {{chosenShop.views}}</div>
        <div *ngIf="chosenShopDetail.formatted_address" title="{{chosenShopDetail.formatted_address}}" class="list">
          <span>地址: </span>
          <span>{{chosenShopDetail.formatted_address}}</span>
        </div>
        <div *ngIf="chosenShopDetail.formatted_phone_number" class="list">
          <span>電話: </span>
          <span>{{chosenShopDetail.formatted_phone_number}}</span>
        </div>
        <div *ngIf="chosenShopDetail.website" class="website list">
          <span>網站: </span>
          <span>
            <a title="{{chosenShopDetail.website}}" href="{{chosenShopDetail.website}}"
              target="_blank">{{chosenShopDetail.website}}</a>
          </span>
        </div>
        <div *ngIf="chosenShopDetail.price_level" class="list">價位:
          <ng-container *ngFor="let i of [].constructor(chosenShopDetail.price_level)" class="price">
            <i-price [size]="22" [color]="'#aaaaaa'" [opacity]="0.8"></i-price>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="chosenShopDetail.reviews">
        <div class="reviews">
          <span class="list">評論: </span>
        </div>
        <div class="reviews-container">
          <div *ngFor="let review of chosenShopDetail.reviews; let i = index;" class="review-box">
            <div class="review-title">
              <div class="author-box" (click)="openUrl(review.author_url)">
                <img class="author-img" src="{{review.profile_photo_url}}" alt="author_img" />
                <span class="author-name" title="{{review.author_name}}">{{review.author_name}}</span>
              </div>
              <div class="rating-box">
                <span class="author-rating">{{review.rating}}</span>
                <app-rating-stars class="rating-stars" [rating]="review.rating"></app-rating-stars>
              </div>
              <span class="review-time"
                title="{{review.time * 1000 | date:'long'}}">{{review.time * 1000 | date:'yyyy/MM/dd'}}</span>
            </div>
            <div class="text-box" (click)="openDialog(i)">{{review.text}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
