/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 'app/assets/css/special-property.scss';

* {
    font-family: 'Ubuntu', sans-serif, 'cwTeXYen';

    &::-webkit-scrollbar-track {
        // box-shadow        : inset 0 0 5px rgba(0, 0, 0, 0.2);
        // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width           : 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius   : 10px;
        background-color: #a8b2b9;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.info-bar {
    display         : flex;
    display         : -webkit-flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    height          : height(infoBar);
    font-size       : 24px;
    color           : white;
    background-color: color(themeOfBlue);
}