/* You can add global styles to this file, and also import other style files */
@import 'app/assets/css/common.scss';
@import 'app/assets/css/special-property.scss';

* {
  font-family: "Ubuntu", sans-serif, "cwTeXYen";

  // Scroll bar
  &::-webkit-scrollbar-track {
    // box-shadow        : inset 0 0 5px rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width           : 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 10px;
    background-color: #a8b2b9;
  }

  // Check box
  input[type="checkbox"] {
    display: none;

    &+label {
      position   : relative;
      display    : flex;
      align-items: center;
      height     : 100%;
      line-height: 20px;
      cursor     : pointer;

      &::before {
        content         : "";
        display         : block;
        width           : 19px;
        height          : 19px;
        background-color: #fff;
        box-sizing      : border-box;
        border          : solid 2px #d3d6d6;
        border-radius   : 3px;
        @include transition(all 0.3s);
      }
    }

    &:hover+label:before {
      border: 2px solid #0073e6;
    }

    &:checked+label {
      &::before {
        // position  : relative;
        background: #0073e6;
        border    : 1px solid #0073e6;
      }

      &::after {
        content    : "L";
        position   : absolute;
        top        : 7px;
        left       : 0px;
        display    : block;
        width      : 16px;
        height     : 16px;
        color      : #fff;
        font-size  : 13px;
        font-family: arial;
        font-weight: bold;
        transform  : scaleX(-1) rotate(-40deg);
      }
    }
  }
}

html,
body {
  height: 100%;
}

body {
  margin  : 0;
  overflow: hidden;
}

.info-bar {
  @include display-flex();
  justify-content : center;
  align-items     : center;
  position        : relative;
  width           : 100%;
  height          : height(infoBar);
  font-size       : 24px;
  color           : white;
  background-color: color(themeOfBlue);
  z-index         : zIndex(infoBar);
}

// Google info window
.gm-style-iw {
  padding   : 15px 0 15px 15px !important;
  width     : 300px !important;
  height    : 300px !important;
  max-height: 300px !important;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6) !important;
  border    : 1px solid rgba(72, 181, 233, 0.6);

  .gm-style-iw-d {
    height    : 270px !important;
    max-height: 100% !important;
    overflow-y: auto !important;

    .iw-bottom-gradient {
      position  : absolute;
      width     : 326px;
      height    : 25px;
      bottom    : 10px;
      right     : 18px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }
}