/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 'app/assets/css/special-property.scss';

* {
    font-family: 'Ubuntu', sans-serif, 'cwTeXYen';
}

html,
body {
    height: 100%;
}

body {
    margin     : 0;
}

.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: height(infoBar);
  font-size: 24px;
  color: white;
  background-color: color(themeOfBlue);
}