@import '~@angular/material/theming';
@include mat-core();

.main-theme {
  $main-primary: mat-palette($mat-light-blue, 500);
  $main-accent: mat-palette($mat-blue-grey, 200);
  $main-theme: mat-dark-theme($main-primary, $main-accent);

  @include angular-material-theme($main-theme);
}