@import '~@angular/material/theming';
@include mat-core();

.main-theme {
  $alternate-primary: mat-palette($mat-light-blue, 500);
  $alternate-accent: mat-palette($mat-blue-grey, 200);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}